.login-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.login-label {
	display: flex;
	flex-direction: column;
	gap: 8px;

	color: #2e2f42;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.64px;
}

.submit-btn {
	margin-top: 8px;
	display: inline-flex;
  align-self: flex-start;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: #4e75ff;
  width: auto;

	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.64px;
}

.form-input {
	width: 360px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid #808080;
	padding: 8px 0;
	padding-left: 16px;
}
